$desktop-breakpoint: 1596px;
$laptop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 100%;

$tablet-container-padding: 40px;
$mobile-container-padding: 20px;

$main-font: 'WorkSans', sans-serif;

$main-color: #ffc600;
